[package]
name = "constfft"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
realfft = "3.0.1"
rustfft = "6.0.1"

[dev-dependencies]
approx = "0.5.1"
